<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%=title%>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="https://scontent.fsgn5-2.fna.fbcdn.net/v/t1.0-1/p320x320/25446201_1209232435888123_6494649041416633453_n.jpg?oh=3bccbd9a5d99c5d27b82e5cd1db2575a&amp;oe=5ADF2777"
    />
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
</head>

<body>
    <% include partials/header%>
        <div class="container-fluid" style="padding-bottom:100px">

            <%- content %>
        </div>

        <% include partials/footer%>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

</html>